<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <link rel="stylesheet" href="../static/show_qr.css">
</head>
<body>
    <h1>QR Code</h1>
    <p>Please scan the QR code to make sure it is working correctly</p>
    <h2>{{ url_name }}</h2>



    <img id="qrCode" src="data:image/png;base64,{{ img_data }}" alt="">

    <p>Always make sure the QR is working after downloading it</p>
    <form action="/download" method="POST" id="downloadForm">
        <input type="hidden" name="img_data" value="{{ img_data }}">
        <button type="submit" class="download-btn">Download</button>
    </form>

    <div class="btn-container">
        <button class="clear-btn" onclick="backToGenerator()">Back to Generator</button>
    </div>

    <script>
        function backToGenerator() {
            window.location.href = '/';
        }
    </script>
</body>
</html>
